.title{
   margin-top: 3%;
   margin-left: 1%;
}


.searchbt{
 width: 80%;
 border: 4px solid white;
 background-color: white;
 color: black;
 border-radius: 5px;
 margin-left:1%;
}
.btn{
     width: 100px;
     margin: 1%;
     margin-left: 2%;
     padding: 2px;
     border-radius: 5px;
}

.container{
   /* text-align: bottom; */
   display: flex;
   flex-wrap: wrap;
   border:1px solid none;
}
   
/* .cont1{
   display: flex;
   flex-direction: row;
  align-items: center;
  margin: 10px;
        /* position: absolute;
        width: 80px; 
        height: 100px;
        border: 1px solid black;
         */
   .cont1{
         padding: 5px;
         margin: 5px;
         border: 1px solid rgb(91, 87, 87);
         /* box-sizing: border-box; */
   }
.imgtag{
    margin-right: 5px;
} 
.movie-details {
   display: flex;
   flex-direction: column;
   margin-left: 10px;
   margin-top: 2px;
   margin-bottom: 2px;
   text-align: start;
   box-sizing: content-box;
   
 }
